/*Body/Whole Page Styling*/
body {
    background: #040404 no-repeat fixed center;
    background-size: auto; 
    margin: 100px;
    color: #BBBBBB;
}

/*Styling for all divs*/
div {

}

/*Styling for Banner*/
.banner {
    background-color: #727274;
    height: 200px;
    border-top-left-radius: 10px;
    margin-top: -75px;  
    margin-left: -75px;
    margin-right: -75px;
}


/*Page Navigation bar Styling*/
/*Styling for Navigation Bar*/
.nav {
    width: 40%;
    position: absolute;
    border-top-left-radius: 10px;
}

/*Styling for Nav links (nav options)*/
.navop {
    color: #BBBBBB;
    padding: 10px;
    background-color: #4F5052;
    display: inline-block;
    width: 15%;
    text-align: center;
    float: left;
}

/*Styling for leftmost link on the navigation bar*/
.left {
    border-top-left-radius: 10px;
}
/*Styling for rightmost link on the navigation bar*/
.right {
    border-bottom-right-radius: 10px;
}
/*end of page navigation bar styling*/

/*Styling for List Navigation Bar*/
.listnav {
    background-color:#071D21;
    height: 50px;
    border-top: solid 5px #727274;
    border-bottom: solid 5px #727274;
}


/*Styling for Main*/
.main {
    background-color: #071D21; 
    margin-top: 50px;
    height: 1000px;
    padding: 1%;
}

/*Styling for Image/Image Gallery*/
.vis {
    background-color: #071D21; 
    width: 40%;
    float: left;
/*Border and Outside Styling*/
    border-top: solid 3px #727274;
    border-bottom: solid 3px #727274;
    border-radius: 10px;
    height: 200px;
}

/*Styling for Text/Information on Main*/
.word {
    background-color: #071D21; 
    color: #BBBBBB;
    padding 20px;
    float: left;
    width: 59%;
/*Border and Outside Styling*/
    border-top: solid 3px #727274;
    border-bottom: solid 3px #727274;
    border-radius: 10px;
    margin-left: 1%;
    height: 200px;
}
/*End of Main Styling*/


/*Styling for Footer*/
.footer {
    background-color: #071D21;
    height: 50px;
    color: white;
    margin-top: 200px;
    margin-top: 200px;
}


/*Styling for Links*/
a {
    text-decoration: none;
}

/*Styling for Visited Links*/
a:visited {
    padding: 10px;
}

/*Styling for Hovering on Link*/
a:hover {
    font-weight: bold;
    background-color: ;
    padding: 10px;
}

/*Styling for Active Link*/
a:active {
    padding: 10px;
    
}
/*End of Styling for links*/

